<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.learningplatform">

    // 申请调用相机权限
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    // 添加网络权限
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@drawable/purple"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_config"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".listview.ListViewActivity" />
        <activity android:name=".FixUserInfoActivity" />
        <activity android:name=".BottomBarActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".FixPwdActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".GoodsInfoActivity" />
        <activity android:name=".FixMyPublishActivity" />

        // 使用FileProvider获取Uri就会将以前的file:// URI准换成content:// URI，实现一种安全的应用间数据访问
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zz.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>



</manifest>